<input type="text" ng-model="searchText" placeholder="Search">
<div class="input-group"  style="float:right;">
    <a class="btn btn-default" href="contact">
        <span>Add Contact </span>&nbsp;&nbsp;<span
            class="glyphicon glyphicon-plus"
            aria-hidden="true"></span>
    </a>
</div>
<br><br>
<table class="table striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Number</th>
    </tr>
    </thead>
    <tr ng-repeat="contact in filteredContact = (contacts | filter: searchText)">
        <td>{{contact.name}}</td>
        <td>{{contact.number}}</td>
    </tr>
</table>
<br>
Showing {{filteredContact.length}} of {{contacts.length}} total contacts.
</div>